@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-0: #fafafa;
  --color-gray-1: #f7f8f9;
  --color-gray-2: #f0f0f0;
  --color-gray-3: #dbdbdb;
  --color-gray-4: #c2c2c2;
  --color-gray-5: #8d8d8d;
  --color-gray-6: #363636;
  --color-gray-7: #2b2b2b;
  --color-gray-8: #1a1a1a;
  --color-black: #000000;
  --color-cherry-blush: #ff5e5e;
  --color-rose-cloud: #be1a1a;
}

:root {
  font-family: Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-white);
    background-color: var(--color-gray-8);
  }
}
