@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-0: #fafafa;
  --color-gray-1: #f7f8f9;
  --color-gray-2: #f0f0f0;
  --color-gray-3: #dbdbdb;
  --color-gray-4: #c2c2c2;
  --color-gray-5: #8d8d8d;
  --color-gray-6: #363636;
  --color-gray-7: #2b2b2b;
  --color-gray-8: #1a1a1a;
  --color-cherry-blush: #ff5e5e;
  --color-rose-cloud: #be1a1a;
  --color-citrus-honey: #ffe68a;

  /* Typography */
  --text-heading-xxl: 56px;
  --text-heading-xl: 48px;
  --text-heading-lg: 40px;
  --text-heading-md: 32px;
  --text-heading-xs: 28px;

  --text-heading-xxl--line-height: 64px;
  --text-heading-xl--line-height: 56px;
  --text-heading-lg--line-height: 48px;
  --text-heading-md--line-height: 40px;
  --text-heading-xs--line-height: 36px;

  --text-label-xxl: 24px;
  --text-label-xl: 18px;
  --text-label-lg: 16px;
  --text-label-md: 14px;
  --text-label-sm: 12px;

  --text-label-xxl--line-height: 32px;
  --text-label-xl--line-height: 26px;
  --text-label-lg--line-height: 24px;
  --text-label-md--line-height: 22px;
  --text-label-sm--line-height: 20px;

  --text-paragraph-xxl: 24px;
  --text-paragraph-xl: 18px;
  --text-paragraph-lg: 16px;
  --text-paragraph-md: 14px;
  --text-paragraph-sm: 12px;

  --text-paragraph-xxl--line-height: 36px;
  --text-paragraph-xl--line-height: 28px;
  --text-paragraph-lg--line-height: 24px;
  --text-paragraph-md--line-height: 20px;
  --text-paragraph-xs--line-height: 20px;

  --animate-slidein: slidein 0.5s;
  --animate-slideout: slideout 0.5s forwards;
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@font-face {
  font-family: 'HakgyoansimChulseokbuTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChulseokbuTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@keyframes infiniteSlideOriginal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-427px * 10));
  }
}

@keyframes infiniteSlideDuplicate {
  0% {
    transform: translateX(calc(-427px * 10));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes expandHeight {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes collapseHeight {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

@layer components {
  .movie-detail-scrollbar {
    @apply overflow-y-auto
    [&::-webkit-scrollbar]:bg-transparent
    [&::-webkit-scrollbar]:w-[10px]
    [&::-webkit-scrollbar-track]:border-transparent
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-thumb]:border-[2px]
    [&::-webkit-scrollbar-thumb]:bg-gray-4;
  }

  .chatbot-scrollbar {
    @apply overflow-y-auto
    [&::-webkit-scrollbar]:bg-transparent
    [&::-webkit-scrollbar]:w-[10px]
    [&::-webkit-scrollbar-track]:border-transparent
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-thumb]:border-[1px]
    [&::-webkit-scrollbar-thumb]:border-gray-2
    [&::-webkit-scrollbar-thumb]:bg-gray-4;
  }
}

:root {
  font-family: Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-white);
    background-color: var(--color-gray-8);
  }
}

.animate-infiniteSlideOriginal {
  animation: infiniteSlideOriginal 40s linear infinite;
}

.animate-infiniteSlideDuplicate {
  animation: infiniteSlideDuplicate 40s linear infinite;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

.animate-expand {
  animation: expandHeight 0.3s ease-out forwards;
  overflow: hidden;
}

.animate-collapse {
  animation: collapseHeight 0.3s ease-out forwards;
  overflow: hidden;
}

.actor-card-container {
  display: flex;
  gap: 1.5rem;
  transition: all 0.5s ease;
  align-items: center;
}

.actor-card {
  transform: translateY(0);
  opacity: 0.4;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform, opacity;
  filter: grayscale(50%);
}

.actor-card.center {
  transform: translateY(-80px);
  opacity: 1;
  filter: grayscale(0%);
  z-index: 10;
}

.actor-card:not(.center):hover {
  opacity: 0.7;
  transform: translateY(-10px);
  filter: grayscale(20%);
}

/* 필포그래피 스크롤바 커스텀 스타일 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-4);
  border-radius: 4px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

::-webkit-scrollbar-button {
  display: none;
}
